<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/battaglia.css">
<meta charset="ISO-8859-1">
<title>Battaglia</title>
</head>
<body background="\image\battlesfondi.jpg">
	<script th:inline="javascript">
		/*<![CDATA[*/

		var p1 = /*[[${personaggio1}]]*/'p1';
		var p2 = /*[[${personaggio2}]]*/'p2';

		var p1vita = p1.vita;
		var p2vita = p2.vita;
		function attacco() {
			var mydiv = document.getElementById("combattimento");
			var num = Math.floor(Math.random() * 2)
			var stringa;
			var danno;
			if (num == 0) {
				stringa = "<br/>Turno di " + p1.nome
						+ "<br/> -------------------<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				alert("difesa");
				var difesa = p2.difesa * 2;
				stringa = p2.nome + " si difende <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				danno = (p1.attacco - difesa);
				stringa = p2.nome + " subisce " + danno + " danni<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				p2.puntivita = (p2.puntivita) - (p1.attacco - difesa);
				stringa = p2.nome + " ha " + p2.puntivita + " vita <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
			} else {
				alert("attacco");
				stringa = "<br/>Turno di " + p2.nome
						+ "<br/> -------------------<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				danno = (p1.attacco - p2.difesa);
				stringa = p2.nome + " subisce " + danno + " danni<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				p2.puntivita = (p2.puntivita) - (p1.attacco - p2.difesa);
				stringa = p2.nome + " ha " + p2.puntivita + " vita <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);

			}

			alert(p2.puntivita);
			if (p1.puntivita <= 0) {
				var mybtn1 = document.getElementById("salvap2").click();
			}
			if (p2.puntivita <= 0) {
				var mybtn1 = document.getElementById("salvap").click();
			}
		}
		function difesa() {
			var mydiv = document.getElementById("combattimento");
			var num = Math.floor(Math.random() * 2)
			var stringa;
			var danno;
			if (num == 0) {
				alert("nemico attacca");
				stringa = "<br/>Turno di " + p1.nome
						+ "<br/> -------------------<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				var difesa = p1.difesa * 2;
				stringa = p1.nome + " si difende <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				stringa = "<br/>Turno di " + p2.nome
						+ "<br/> -------------------<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				danno = (p2.attacco - difesa);
				stringa = p1.nome + " subisce " + danno + " danni<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				p1.puntivita = (p1.puntivita) - (p2.attacco - difesa);
				stringa = p1.nome + " ha " + p1.puntivita + " vita <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
			} else {
				stringa = "Turno di " + p1.nome
						+ "<br/> -------------------<br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);
				stringa = p2.nome + " non attacca <br/>";
				mydiv.insertAdjacentHTML('beforeend', stringa);

			}

			alert(p2.puntivita);
			if (p1.puntivita <= 0) {
				var mybtn1 = document.getElementById("salvap2").click();
			}
			if (p2.puntivita <= 0) {
				var mybtn1 = document.getElementById("salvap").click();
			}
		}
		/*]]>*/
	</script>
	<center>
		<img src="\image\battaglia.png" style="border: 0;" height="100"
			width="400" />
	</center>

	<div style="text-align: center;">
		<img src="\image\vs.gif" style="border: 0;" height="400" width="400" />
	</div>
	
	
	
	<div style="text-align: center;">
		<h1 style="color: orange; font-family: Papyrus;">
			<p id="nomep" th:text="${personaggio1.nome}"></p>
		</h1>
	<div id="combattimento" overflow ></div>
		<button onclick="attacco()" />
		<img src="\image\spada.png" style="border: 0;" height="100"
			width="100" />

		<button onclick="difesa()" />
		<img src="\image\scudo.png" style="border: 0;" height="100"
			width="100" />
		</button>
	</div>






	<form action="#" th:action="@{/savep}" th:object="${personaggio1}"
		method="post">
		<p hidden>
			<button type="submit" id="salvap" />
		</p>
	</form>
	<form action="#" th:action="@{/saven}" th:object="${personaggio2}"
		method="post">
		<p hidden>
			<button type="submit" id="salvap2" />
		</p>
	</form>




	<form action="/">
		<input type="submit" value="home">
	</form>



</body>
</html>