<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title>RPG World</title>

</head>
<body background="\image\menup.jpg">

	<h1 style="color: black;">RPG WORLD!</h1>
	
	<img src="\image\dungeons_logo.png">

	<div id="button">
		<form action="new">
			<input type="submit" style="width: 300px; height: 100px;"
				value="Crea personaggio" id="bot"/>
		</form>


		<br>
		<br>
		<br>


		<form action="lista">
			<input type="submit" style="width: 300px; height: 100px;"
				value="lista personaggi" id="bot"/>
		</form>



<br><br><br>

		<form action="battaglia">
			<input type="submit" style="width: 300px; height: 100px;"
				value="Battaglia" id="bot"/>
		</form>



</body>
</html>