<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>RPG World</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>


<h1>RPG WORLD!</h1>


<button onclick="newPersonaggio()">Crea personaggio</button>

<div align="center">
	<script type="text/javascript">
    function newPersonaggio() {
        window.location.assign("///C:/Users/GianMario/Desktop/RPGworld/RPGworld/rpgworld/src/main/resources/templates/nuovo_personaggio.html")
    }
</script>
 </div>

<br><br><br>


<button onclick="listaPersonaggio()">Lista personaggi</button>

<div align="center">
	<script type="text/javascript">
    function listaPersonaggio() {
        window.location.assign("///C:/Users/GianMario/Desktop/RPGworld/RPGworld/rpgworld/src/main/resources/templates/lista_personaggi.html")
    }
</script>
 </div>

<br><br><br>


<button onclick="battaglia()">Battaglia</button>

<div align="center">
	<script type="text/javascript">
    function battaglia() {
        window.location.assign("///C:/Users/GianMario/Desktop/RPGworld/RPGworld/rpgworld/src/main/resources/templates/battaglia.html")
    }
</script>
 </div>





</body>
</html>