<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/css/lista.css">
<title>Lista personaggi</title>

</head>
<body background="\image\listap.jpg">
	<div id="titolo">
		<h1>PERSONAGGI</h1>
	</div>

	<table border="0">
		<thead>
			<tr>
				<th><center><img src="\image\nome2.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\classe2.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\hpmax.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\hp.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\atk.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\dif.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\sesso2.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\lv.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th><center><img src="\image\exp.png" style="border: 0;" height="30"width="50"/></center></a></th>
				<th></th>
			</tr>
		</thead>

		<tr th:each="personaggio : ${listapersonaggio}">
			<td th:text="${personaggio.nome}"></td>
			<td th:text="${personaggio.classe}"></td>
			<td th:text="${personaggio.puntivitamax}"></td>
			<td th:text="${personaggio.puntivita}"></td>
			<td th:text="${personaggio.attacco}"></td>
			<td th:text="${personaggio.difesa}"></td>
			<td th:text="${personaggio.sesso}"></td>
			<td th:text="${personaggio.livello}"></td>
			<td th:text="${personaggio.esperienza}"></td>
			<td><a th:href="@{'/battaglia/' +${personaggio.idpersonaggio}}"><center>
						<img src="\image\sel.png" style="border: 0;" height="30"
							width="30" alt="abc" />
					</center></a>
		</tr>
	</table>

	<br>
	<div style="text-align: center">
		<form action="/">
			<input type="image" name="type" value="1" src="\image\homepage.png"
				height="100" width="100" />
		</form>
	</div>
</body>
</html>