<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Creazione personaggio</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

	<div align="center">

		<h1>Crea personaggio</h1>
		<form action="#" th:action="@{/save}" th:object="${personaggio}"
			method="post">
			<table border="0" cellpadding=10>
				<tr>

					<td>Nome:</td>
					<td><input type="text" th:field="*{nome}" />
					<td><br>
					<td>Classe:</td>
					<td><input type="text" name="classe" list="listclasse"
						th:field="*{classe}">					
					<td><br> <datalist id="listclasse">
							<option value="Guerriero ">
							<option value="Mago">
							<option value="Stregone">
							<option value="Paladino">
							<option value="Ladro">
						</datalist>
					<td>Sesso:</td>
					<td><input type="radio" id="M" name="maschio"
						th:field="*{sesso}" />
					<td><label for="M">M</label><br>
					<td><input type="radio" id="F" name="femmina"
						th:field="*{sesso}" />
					<td><label for="F">F</label><br>
				<tr>
					<td colspan="2"><button type="submit" value="clicca qui" />SALVA</td>


					<tr>
			<td colspan="2"><input type="button" value="Home" id="btnClear" onclick="clearSearch()" /></td>
						<div align="center">
							<script type="text/javascript">
								function clearSearch() {
									window.location.assign("///C:/Users/GianMario/Desktop/RPGworld/RPGworld/rpgworld/src/main/resources/templates/index.html#")
								}
							</script>
						</div>
			</table>



		</form>

	</div>

 




</body>
</html>