<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Creazione personaggio</title>

</head>
<body background="\image\creaz.jpg">

	<div align="center">

		<img src="\image\pers.png">
		<form action="#" th:action="@{/save}" th:object="${personaggio}"
			method="post">
			<table border="0" cellpadding=10>
				<tr>

					<td><img src="\image\nome2.png"></td>
					<td><input type="text" th:field="*{nome}" />
					<td><br>
					<td><img src="\image\classe2.png"></td>
					<td><input type="text" name="classe" list="listclasse"
						th:field="*{classe}">
					<td><br> <datalist id="listclasse">
							<option value="Guerriero ">
							<option value="Mago">
							<option value="Stregone">
							<option value="Paladino">
							<option value="Ladro">
						</datalist>
					<td><img src="\image\sesso2.png"></td>
					<td><input type="radio" id="M" name="maschio" value="M"
						th:field="*{sesso}" />
					<td><label for="M"><img src="\image\man.png" width="30" height="30"></label><br>
					<td><input type="radio" id="F" name="femmina" value="F"
						th:field="*{sesso}" />
					<td><label for="F"><img src="\image\woman.png" width="30" height="30"></label><br>
				<tr>
					<td colspan="2"><button type="submit" value="clicca qui" />SALVA</td>
				<tr>
			</table>



		</form>

	</div>

</body>
</html>